

body{ /* Sets text rules such as font type and alignment */
  font-family: arial;
  text-align: left;
height:auto; 
}

main {/* Sets main page spacing from edges, creating the border rules*/
  width: 90%; 
  margin-left:5%;
  padding-bottom:2%;
  background-color:white;
}

.custom-navbar{ /* Sets bootstrap nav to black*/
    background-color: black;
  }

  .navbar-nav > li > a.nav-link { /* Sets bootstrap nav text to white*/
    color: white !important;
  }

.aboutul{
list-style-type: none;
    padding: 0 !important;
}

.aboutli{
display: inline;
    margin-right: 10px !important; 
}

  /* Footer Editor*/
footer{ /* Footer colour & spacing*/
    background-color: black;
    padding-top:2.5%;
  }
  footer p {  /* Footer paragraph rules*/
    color: white;
    margin-left:5%;

  }

/*font editing */
h1{/*Header sizes */
  font-size: 1.5em; 
}

h2{/*Header sizes */
  font-size: 1.2em;

}

h3{/*Header sizes */
  font-size: 1.1em;
}

p{/*Paragraph sizes */
  font-size: 1em;
}
.about{
  width:60%;
}
/* Table Editing */

table td,
table th { /*Rules for table headers & table data*/
  white-space: nowrap; /*Keeps text on the one line*/
  
}


.Ftable{
  margin-left:5%;
  margin-right:5%;
  text-decoration: none; 
  color: white; /* Change color to red */
  border: 0px;
  width: 80%;
  max-width: 80%;
  font-size: 1.1em;
  table-layout: fixed;

}

.Ftable th{
  text-decoration: none; /* Remove underline */
}


.results{
  border: 0px;
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  table-layout: fixed;
  
}


.Git{
   /* Remove underline */
  height: 1.3em;
  width:auto;
}

.Link{
  height: 1.3em;
  width:auto;
}

#Tel{
  padding-bottom: 5%;
  text-decoration: none; /* Remove underline */
  color: white; /* Change color to red */
  font-weight: normal;
}


#Email{
  padding-bottom: 5%;
  text-decoration: none; /* Remove underline */
  color: white; /* Change color to red */
  font-weight: normal;
}


.image-style{
  width:80%;
border: 1px solid black;
}
.image-container{
  display:flex;
  justify-content: center;
  align-items: center;

}


/*Devices with 800px screens */
@media screen and (max-width: 800px) {
  main { /* indents text in main*/
      margin-left:5%
    }

  
    .results{ /*edits tables with results*/
      border: 0px;
      width: 100%;
      max-width: 100%;
      font-size: 0.8em;
      table-layout: fixed; /*forces a stanardised layout for all in .results*/
      
    }
    
    
    .right-inline{
      padding-left: 28%;/*padding between result and module*/
    
    }

    .Ftable{/*Edits Footer Table*/
      margin-left:5%;
      margin-right:5%;
      text-decoration: none; /* Removes underline */
      color: white; /* Change color to white from standard hyperlink blue */
      border: 0px;   /* removes table boarder */
      width: 80%;
      max-width: 80%;
      font-size: 0.7em;
      table-layout: fixed; 
    
    }

    .table-striped{
      font-size: 0.5em;
      max-width: 80%;
      width: 80%;
      
    }

    /*Footer imgs*/
    .Git{
      /* Remove underline */
     height: 1em;
     
   }
   
   .Link{
     height: 1em;
     
   }

.about{
width: 80%;
max-width: 80%;
}

    
  }

.filler{
padding-bottom: 200px;
}

}
