
body{
  font-family: arial;
}
main {

  width: 80%; /* The width is 60%, by default */
  margin-left:5%;
  padding-bottom:2%;
}

.FIcons{
  width:30%;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
main {
    width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    margin-left:5%;
  }

.FIcons{
  width:30%;
}
}

.custom-navbar{
    background-color: black;
  }
  
footer{
    background-color: black;
    padding-top:1%;
    padding-bottom:1%;
  }
  footer p {
    color: white;
    margin-left:5%;

  }
  .navbar-nav > li > a.nav-link {
    color: white !important;
  }
main{
    background-color:white;
}

/*font editing */
h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;

}

h3{
  font-size: 1.1em;
}

p{
  font-size: 1em;
}

table{
  width: 70%;
  font-size: 1em;
}

.Ftable{
  margin-left:5%;
  width: 80%;
  font-size: 1em;
  text-decoration: none; /* Remove underline */
  color: white; /* Change color to red */

}

.Ftable th{
  text-decoration: none; /* Remove underline */
}

#Flink{
  text-decoration: none; /* Remove underline */
  color: white; /* Change color to red */
  font-weight: normal;
}
